<!DOCTYPE html>
{% load static %}
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="global-container">
                <h3 class="card-title text-center">We have sent an email to you </h3>
                <div class="card-text text-center">
                    Please check your mail
                </div>
            </div>
         </div>
      </div>
     
    
   </body>
</html>
    
